body {
  margin: 0;
  padding: 0;
  font-family: "NotoSansKR-Bold", "Noto Sans KR", Arial, sans-serif;
  background-color: #f5f5f5; /* 배경색 추가 */
  color: #333; /* 텍스트 색상 변경 */
}

.container {
  width: 90%; /* 전체 너비 수정 */
  margin: 20px auto; /* 가운데 정렬 */
}

.nav-img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.content img {
  margin: 10px;
  max-height: 300px; /* 이미지 높이 수정 */
  width: auto;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.job-intro {
  text-align: center; /* 텍스트 가운데 정렬 */
  margin-top: 30px;
}

.job-intro p {
  font-size: 18px; /* 폰트 크기 수정 */
  line-height: 1.6; /* 줄 간격 수정 */
}

.job-intro a {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff; /* 배경색 변경 */
  color: #fff; /* 텍스트 색상 변경 */
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease; /* 호버 효과 추가 */
}

.job-intro a:hover {
  background-color: #0056b3; /* 호버 시 배경색 변경 */
}

.job-images {
  display: flex;
  margin-top: 30px;
}

.job-image {
  display: inline-block; /* 이미지 가로 정렬 */
  flex-wrap: wrap; /* 줄바꿈 처리 */
  justify-content: space-around; /* 이미지 간격 조정 */
  max-width: 800px; /* 이미지 너비 제한 */
  margin: 0 auto;
}

.job-image img {
  margin: 10px;
  max-height: 80px; /* 이미지 높이 수정 */
  max-width: 150px; /* 이미지 너비 수정 */
}
